@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-zinc-900;
}

.container-max {
  @apply mx-auto w-full max-w-6xl px-4;
}
